// Caveat.

@font-face {
	font-family: 'Caveat';
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
	src: url( ../fonts/caveat/caveat.woff2 ) format( 'woff2' );
}

// Figtree.

@font-face {
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url( ../fonts/figtree/figtree.woff2 ) format( 'woff2' );
}

@font-face {
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url( ../fonts/figtree/figtree-italic.woff2 ) format( 'woff2' );
}

// Karla

@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
	src: url( ../fonts/karla/karla.woff2 ) format( 'woff2' );
}

@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 400 700;
	font-display: swap;
	src: url( ../fonts/karla/karla-italic.woff2 ) format( 'woff2' );
}

