@font-face {
	font-family: 'Courier Prime';
	font-style: normal;
	font-weight: 400;
	src: url( ../fonts/courier-prime/courier-prime.woff2 );
}

@font-face {
	font-family: 'Courier Prime';
	font-style: italic;
	font-weight: 400;
	src: url( ../fonts/courier-prime/courier-prime-italic.woff2 );
}

@font-face {
	font-family: 'Courier Prime';
	font-style: normal;
	font-weight: 700;
	src: url( ../fonts/courier-prime/courier-prime-bold.woff2 );
}

@font-face {
	font-family: 'Courier Prime';
	font-style: italic;
	font-weight: 700;
	src: url( ../fonts/courier-prime/courier-prime-bold-italic.woff2 );
}
