// Border radius.
$rounded-none: 0;
$rounded-1:    0.125rem;
$rounded-2:    0.25rem;
$rounded-3:    0.375rem;
$rounded-4:    0.5rem;
$rounded-6:    0.75rem;
$rounded-8:    1rem;
$rounded-12:   1.5rem;
$rounded-full: 9999em;
